<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Word Waves</h1>
    <button class="button-1" role="button"><a href="/posts/new"> New post</a></button>
    <% for(post of posts) { %>
        <div class="posts">
            
             <h3 class="user"> @<%= post.username %> </h3>
             <h4 class="content"><%= post.content %></h4>
             <br>
             <!-- <button class="button-1" style="visibility: hidden;" role="button"><a href="/posts/<%=post.id%>">See in Detail</a></button>
             <br>
             <button class="button-1" style="visibility: hidden;" role="button"><a href="/posts/<%=post.id%>/edit">Edit Post</a></button> 
             <br/> -->
             <br/>
             <form method="post" action="/posts/<%=post.id%>?_method=DELETE">    
                <button class="button-1" role="button">Delete Post</button>
             </form> 
             
        </div>
     <% } %>

     <br/>
     <br/>
     
</body>
</html>

